body{
		background-image: url("Collines.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
}

h1{
	border-style: solid;
	border-color: navy;
	border-width: 3pt;
	color: navy;
	text-align: center;
	width: 60%;
	margin-left: 10%;
}

h2{
	text-decoration: underline;
}

ul{
	margin-bottom: 20pt;
}

.lien{
	color: fuchsia;
	font-style: Courier;

}