h1{

	border-style: groove;
    border-width: 10pt;
    border-color: navy;
    width: 30%;
    text-align: center;
    font-family: arial;
    color: navy;
    font-size: 16pt;
    background-color: #DDA0DD;
    margin-left: auto;
    margin-right: auto;
    padding: 5pt;
    margin-bottom: 20pt
}

p{
	font-style: bold;
	color: #EE82EE;

}


a{
	font-style: Courier ;
	background-color: #D8BFD8;
}

table{
	background-color: rgb(255,105,180);
	width: 50%;
	margin-right: auto;
	margin-left: auto;

}

thead{

	text-align: center;
	height: 30pt;
}

tbody{
	background-color: rgb(255,192,203);
}

.definition{
		border-style: groove;
		border-color: #4B0082;
		border-width: 5pt;
		background-color: rgb(176,224,230);
}

.bordure{
		border-style: dotted;
		border-color: white;
		border-width: 3pt;
		margin-left: 3pt;
		margin-right: 5pt;	
		margin-bottom: 3pt;
		color: #FF00FF;

}