h1{
	border-style: groove;
	border-color: #F08080;
	border-width: 16pt;
	font-style: arial ;
	font-weight: bold;
	font-size: 16pt;
	color: rgb(128,0,0);
	text-align: center;
	margin-bottom: 3pt;

}

h2{


}

.menu1{

}

.menu2{

}

.menu3{


}

p{
	font-weight: bold;
	text-align: center;
	letter-spacing: 3px;

}